@import url('https://fonts.googleapis.com/css?family=Unica+One|Vollkorn');

$ff-ss: 'Unica One';
$ff-s: 'Vollkorn';

$clr-red: #c31;
$clr-black: rgba(black, 1);
$clr-gray: rgba(black, .7);

body {
	font-size: 1rem;
	text-align: center;
	font-family: $ff-s;
	line-height: 1.4;
	color: $clr-gray;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $ff-ss;
	text-transform: uppercase;
	line-height: .9;
	color: #c31;
}

h2 {
	margin-top: 1.2em;
	margin-bottom: 0;
}

p {
	margin-top: .25em;
}

a {
	color: $clr-red;
}

.intro {
	font-size: 5rem;
}

.intro::before {
	content: url(//unsplash.it/100/100);
}

blockquote {
	font-size: 2rem;
	color: $clr-black;
}

blockquote::before {
	content: open-quote;
}

blockquote::after {
	content: close-quote;
}

a[data-tool-tip] {
	position: relative;
}

a[data-tool-tip]::after {
	content: attr(data-tool-tip);
	display: block;
	position: absolute;
	background-color: $clr-gray;
	padding: 1em 3em;
	color: white;
	border-radius: 5px;
	font-size: .8em;
	bottom: 0;
	left: 0;
	white-space: nowrap;
	transform: scale(0);
	transition:
		transform ease-out 150ms,
		bottom ease-out 150ms;
}

a[data-tool-tip]:hover::after {
	transform: scale(1);
	bottom: 100%;
}

.decorations {
	padding: 7em;
}

.section-with-deco::before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f0e7';
	display: block;
	margin-bottom: 5px;
}

a[href$=".pdf"]::after {
	font-family: 'Font Awesome 5 Free';
	content: ' \f1c1'
}

a[href^="http"]::after {
	font-family: 'Font Awesome 5 Free';
	content: ' \f35d';
	font-weight: 900;
	font-size: .8em;
}

.counters {
	background: lightgray;
	text-align: left;
	padding: 5em 8em;
	margin-top: 7em;

	counter-reset: counter-name;
}

.section {
	position: relative;
}

.section::before {
	counter-increment: counter-name;
	content: counter(counter-name);
	position: absolute;
	left: -2.5em;
	top: -.5em;
	background: white;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid $clr-gray;
	color: $clr-gray;
	box-sizing: border-box;
}



.counters ol {
	list-style: none;
}

.counters li::before {
	counter-increment: ordered-list;
	content: 'list item 'counter(ordered-list) ') ';
	font-size: .8em;
	color: $clr-red;
}